
#corpo-form{
    width: 420px;/*delimitando a largura da div*/
    margin: 40px auto 0 auto; /*centralizando a div*/
}

#corpo-form h1 {
    text-align: center;
    padding: 20px;
    text-transform: initial;
}

::-webkit-input-placeholder { /* WebKit browsers*/
    color: #313131;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #313131;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #313131;
}

:-ms-input-placeholder{ /*Internet Explorer 10+*/
    color: #313131;
}

small{
    margin-left: 0.5rem;
}

input {
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 5px; /*deixa o contorno arredondado*/
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    outline: none;
}

input[type=submit] {
    background-color: #3ae22be1;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #25e61e;
}

#cancelar{
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 5px; /*deixa o contorno arredondado*/
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.01);
    outline: none;
    background-color: #f82a2ae1;
    border: none;
    cursor: pointer;
}

#cancelar a{
    text-decoration: none;
    text-align: center;
}

#cancelar:hover {
    text-decoration: none;
    background-color: #f82a2a;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
}

a:hover {
    text-decoration: underline;
}

div p {
    height: 60px;
    width: 700px;
    margin: 10px;
    text-align: center;
    color: black;
    border: 1px solid black;
}

.corpo-tabela {
    margin: 5rem auto 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 100%;
}
th, td {
    padding: 5px;
    text-align: center;
}

#voltar{
    margin: 1rem 2rem 0 0;
    width: 10%;
    height: 5%;
}

#voltar a {
    text-decoration: none;
    color: black;
    text-align: center;
}

#voltar a:hover {
    text-decoration: none;
    background-color: #c0f7c0;
}

.btn{
    border-radius: 5px;
    padding: .5px 1px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    text-decoration: none;
}

.del a{
    text-decoration: none;
    text-align: center;
}

.del:hover {
    text-decoration: none;
    background-color: #f82a2a;
}

.alt:hover {
    background-color: #f3e746;
}