<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Prova AV1 | Home</title>
</head>

<body>
    <header>
        <h1>
            Prova AV1
        </h1>
    </header>
    <main>
        <div id="opcao">
            Escolha uma Atividade
        </div>
        <nav>
            <ul>
                <li>
                    <button>
                        <a href="./product/index_produto.html">Produto</a>
                    </button>
                </li>
                <li>
                    <button>
                        <a href="./client/index_cliente.html">Cliente</a>
                    </button>
                </li>
            </ul>
        </nav>
    </main>

    <footer>
        <p>3DAW Prova AV1</p>
        <p>by Alexsandro Cristiano Gonçalves da Silva</p>
    </footer>
</body>

</html>