* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

main {
  text-align: center;
}

main h1 {
  font-size: 45px;
}

nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10rem 0;
}

button {
  border-radius: 15rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}

button:hover {
  border-color: #8bc1f3;
  color: #f7f7f7;
  background-color: #65b0f7;
}

input {
  border-radius: 7rem;
  border-color: #ffffff;
  margin-right: 80px;
  background-color: #ffffff;
}

#enviar {
  border-radius: 15rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}

#enviar:hover {
  border-color: #10eb08;
  color: #ffffff;
  background-color: #37e631;
}

table,
tr,
th,
td {
  margin-top: 0.9rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: 2px solid #0000009c;
  border-collapse: collapse;
}

section {
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}

footer {
  text-align: center;
  margin-top: 5rem;
}

footer p {
  font-size: 15px;
  margin: 0;
}
