<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/cliente.css">
    <title>CRUD Cliente | Excluir</title>
</head>
<body>
    <header>
        <h1>Prova AV1 | CRUD Cliente</h1>
    </header>
    <div id="corpo-form">
        <h1>Informar Cliente</h1>
        <small>Preencher todos os campos</small>
        <form action="./excluir.php" method="GET">
            <input type="text" name="id" placeholder="ID do Cliente" maxlength="6">
            <input type="text" name="nome" placeholder="Nome Completo" maxlength="30">
            <button id="cancelar"><a href="./index.html">Cancelar</a></button>
            <input type="submit" value="Excluir">
        </form>
    </div>
    <footer>
        <p>3DAW Prova AV1</p>
        <p>by Alexsandro Cristiano Gonçalves da Silva</p>
    </footer>
</body>

</html>